@import "tailwindcss";
@plugin "daisyui" {
  themes: light --default, dark;
}

@theme {
  --color-primary: #b3dce2;
  --color-primary-content: #1e293b;
  --font-sans: "Inter", "Noto Sans JP", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply font-sans;
  }
}