name: tategaki
description: Flutter向け縦書きテキスト表示ライブラリ
version: 0.1.0

environment:
  sdk: ^3.8.1

resolution: workspace

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  mockito: ^5.4.4
